body {

    background-image: url("img/pic1.jpg");
    width: 75%;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    margin: 0 auto;
   
}
.accordion {
    text-align: center;
    background-color:#09116B ;
    color: #f7f2f2;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 10px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 30px;
    
  }  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  .panel {
    padding: 0 18px;
    display: none;
    background-color: #f7f2f2;
    overflow: hidden;
    margin-bottom:5%;
    margin-top:0%;
    width: 100%;
  }
    .navbar-brand{
    color: beige;
}
    .nav-link{
    color: beige;
}
    .mainpic{
    padding: 15px;
}
/* card design */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  
  .card{
    display: inline-table;
    color: #09116B;
    margin-top: 20px;
   
  }
  .container{
    background-color: #09116B;
    color: beige;
    padding: 2px 16px;
  }

  .head{
    color: #09116B;
    font-family: 'Montserrat';
    font-style: bold;
    text-align: center;
    font-weight: bold;
  }
  .head1{
    color: beige;
    background-color: #09116B;
    font-family:'Montserrat';
    border: #09116B;
    border-radius: 15px;
    width: 90%;
    padding: 10px;
    margin-bottom: 5%;
    position:relative;
    
    left: 50%;
    transform: translate(-50%, 5%);
    text-align: center;
  }
  
  .navbar-brand{
    color: beige;
    font-family: 'Montserrat';
    font-weight: bolder;
    stroke: #09116B;
    stroke-width: 30%;
    font-size: 10px;

  }

  .footer {
    color: #09116B;
    font-family:'Montserrat';
    padding: 30px;
    text-align: center;
    margin: 0;
    
    
  }
.dsn{
  color: beige;
  background-color: #09116B;
  margin-top: 5%;
}
.navbar {
  margin-top: 3%;
}
.arcbtn{
  background-color: #09116B;
}
.start{
  color: beige;
  text-decoration: solid;
}

.free{
  background-color: rgb(161, 159, 250);
  border: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
  width: 500px;
  
  
}
.free1{
  color: #09116B;
  text-decoration: solid;
  
}
.bckrnd{
background-color:rgb(161, 159, 250) ;
color: #09116B;
font-family: Arial, Helvetica, sans-serif;
border-radius: 10px;
width: 400px;
margin: 0 auto;
padding: 40px;
margin-top: 100px;
}


form{
  display:flex;
  flex-direction: column;
  
}
label{
  margin-bottom: 10px;
}
input{
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.signupbtn{
  background-color: #09116B;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  padding:10px 20px ;
  border: none;
  cursor: pointer;
}
